body {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: #AAAAAA;
  font-family: sans-serif;
  margin: 0;
}

#files {
  min-width: 250px;
  background-color: #191919;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

#files h2 {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 1px solid #1C1C1C;
  padding: 15px 15px;
  margin: 0;
}

#files ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#files li {
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: 1px solid #1C1C1C;
  padding: 10px 15px 10px;
  cursor: default;
}

#files .active {
  color: #EEEEEE;
  background-color: #1C1C1C;
}

#editor {
  display: flex;
  flex: 1 1 100%;
  background-color: #1C1C1C;
  padding: 10px;
}

#editor .CodeMirror {
  flex: inherit;
  height: inherit;
  background: none;
}

#editor .CodeMirror pre {
  font-size: 15px;
  letter-spacing: 1px;
}
